<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xml:lang="en" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8"></meta>
  <title><%= settings.site_name %></title>
  <meta content="<%= settings.site_name %>" property="og:title"></meta>
  <meta content="<%= settings.site_name%>" property="og:site_name"></meta>
  <meta content="For the love of the box wine" name="description" property="og:description"></meta>
  <meta content="USA" property="og:country-name"></meta>

  <link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" type="image/png" />
  <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" type="image/png" />
  <link href="/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" type="image/png" />
  <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png" />
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="144x144" type="image/png" />
  <link href="/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />

  <meta content="box wine, alcohol, shopping, wine, reviews" name="keywords"></meta>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= css :application, :media => 'screen' %>
  <%= js :app %>
</head>


<body>
  <div class="container">
    <%= yield %>
  </div>

  <%= erb :footer %>
</body>
</html>
